/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[探]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Aa]ssets/AssetStoreTools*
.utmp/
.gradle/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.keystore
*.jks
key.txt